.none {
  display: none;
}

.ids__loading__wrap {
  margin-top: 36px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #0123b4;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0123b4 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fadeout {
  opacity: 0.1;
  transition: all 0.3s;
}

.trans {
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.trans2 {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.fadeIn {
  opacity: 1;
  transition: all 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.gone {
  opacity: 0;
  transform: translateY(50px);
}

.appear {
  opacity: 1;
  transform: translateY(0px);
}

@keyframes buttonAnim {
  0% {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.97);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    transform: scale(0.99);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.button__anim {
  -webkit-animation: buttonAnim 1.5s ease-in-out 2 both;
  animation: buttonAnim 1.5s ease-in-out 2 both;
}

@keyframes clickEffect {
  0% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    opacity: 0;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.click__anim {
  -webkit-animation: clickEffect 0.25s ease-in-out forwards;
  animation: clickEffect 0.25s ease-in-out forwards;
}
