body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-family: "Gilroy", sans-serif;
}

.body {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.body,
.body__onboarding {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

* {
  box-sizing: border-box;
}

.none {
  display: none;
  transform: translateY(100px);
}

.bold {
  font-weight: 700;
}

.blue__bold {
  color: #0123b4;
  font-weight: 700;
}

.under {
  text-decoration: underline;
}

.orange__underline {
  text-decoration: none;
  border-bottom: 3px solid rgba(245, 78, 0, 0.7);
  padding-bottom: 0px;
}

input[type="submit"] {
  -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
