.header {
  font-size: 24px;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  z-index: 99;
  padding: 0 20px;
}

.semi__logo {
  font-size: 16px;
}

.header__back {
  color: #0123b4;
  text-decoration: none;
}

.transparent {
  color: white;
  text-decoration: none;
}

.header__toring {
  color: #0123b4;
  text-decoration: none;
}

.header a:link {
  text-decoration: none;
}

.header a:visited {
  text-decoration: none;
  color: #0123b4;
}
