/* 여기서부터는 새로운 메인 화면 css 입니다.  */

.main__display {
  width: 100%;
  height: 67vh;
  background-color: white;
  border-bottom: 1px solid #8080804d;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg__img1,
.bg__img2,
.bg__img3 {
  position: absolute;
  z-index: -99;
  opacity: 0.2;
  width: 160px;
}

.bg__img1 {
  left: 20px;
  top: 20px;
}

.bg__img2 {
  right: 20px;
  top: 150px;
}

.bg__img3 {
  left: 20px;
  top: 300px;
}

.main__upper__wrap {
  margin-top: 140px;
}

.main__title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}

.main__sub {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  color: #414141;
  font-weight: 600;
}

.main__button__wrap {
  position: absolute;
  bottom: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main__button,
.main__third__button,
.main__fifth__button {
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  color: white;
  background-color: $blue2;
  border: none;
  padding: 15px 10px;
  border-radius: 12px;
  font-size: 20px;
  margin-top: 30px;
  width: 90%;
  outline: none;
  text-align: center;
  font-weight: 700;
}

.main__button:hover {
  cursor: pointer;
}

.main__third__button:hover {
  cursor: pointer;
}

.main__fifth__button:hover {
  cursor: pointer;
}

.second__display {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  background-color: #ebebeb;
}

.second__title__wrap,
.second__sub__wrap {
  width: 90%;
}

.main__second__title {
  text-align: center;
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
}

.main__second__sub {
  text-align: center;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 24px;
}

.second__content__wrap {
  padding: 0 5%;
  width: 100%;
  overflow-x: scroll;
  /* overflow-x: hidden; */
  white-space: nowrap;
}

.second__content {
  width: 100%;
  background-color: white;
  display: inline-block;
  overflow: hidden;
  padding: 30px 20px;
  padding-bottom: 20px;
  border-radius: 16px;
  margin-right: 4px;
}

.second__content:hover {
  cursor: pointer;
}

.second__content__upper {
  border-bottom: 1px solid #8080804d;
  padding-bottom: 20px;
}

.second__content__lower {
  padding-top: 30px;
}

.second__content__upper__up {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 4px;
}

.second__content__upper__q,
.second__content__upper__down__extra,
.second__content__lower__down__extra,
.second__content__lower__img {
  width: 14%;
  text-align: center;
  font-weight: 700;
  line-height: 24px;
  margin-right: 3%;
}
.second__content__upper__q {
  font-size: 20px;
}

.second__content__upper__down__sub,
.second__content__lower__down__sub,
.second__content__upper__question,
.second__content__lower__mentor {
  width: 78%;
  white-space: normal;
  text-align: justify;
}

.second__content__upper__down {
  display: flex;
  width: 100%;
}

.second__content__upper__question {
  font-weight: 700;
  line-height: 24px;
}

.second__content__upper__down__sub {
  font-size: 14px;
  line-height: 24px;
}

.second__content__lower__up,
.second__content__lower__down {
  width: 100%;
  display: flex;
}

.lower__img__mentor {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}

.second__content__addview {
  width: 100%;
  text-align: right;
  font-size: 14px;
  color: #646464;
  margin-top: 20px;
}

.second__content__lower__mentor__up {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.second__content__lower__mentor__down {
  font-size: 14px;
  color: rgb(87, 87, 87);
}

.second__content__lower__up {
  margin-bottom: 6px;
}

.second__content__lower__down__sub {
  font-size: 14px;
  line-height: 24px;
}

.second__content__lower__down {
  margin-bottom: 8px;
}

.third__display {
  width: 100%;
  border-bottom: 1px solid #8080804d;
}

.main__third__title__wrap {
  width: 100%;
  border-bottom: 1px solid #8080804d;
}

.main__third__title {
  text-align: center;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
}

.third__content__img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}

.main__third__content__wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__third__content {
  width: 90%;
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #8080804d;
}

.main__third__content:hover {
  cursor: pointer;
}

.third__content__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 12px;
}

.third__content__mentor__name {
  font-size: 14px;
  margin-top: 10px;
  color: #646464;
}

.third__content__right {
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.third__content__right__upper {
  font-size: 13px;
  margin-bottom: 10px;
  color: #646464;
}

.third__content__right__middle {
  font-size: 15px;
  line-height: 22px;
  text-align: justify;
  font-weight: 600;
  margin-bottom: 36px;
  width: 94%;
}

.third__content__right__lower {
  display: flex;
}

.third__content__tag {
  margin-right: 4px;
  font-size: 13px;
  margin-bottom: 8px;
}

.main__third__button__wrap,
.main__fifth__button__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  position: relative;
}

.forth__display {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  padding-top: 60px;
  border-bottom: 1px solid #8080804d;
  background-color: #eff3f4;
}

.main__forth__uptitle {
  font-size: 16px;
  color: #414141;
  margin-bottom: 10px;
}

.main__forth__downtitle {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.main__forth__semi {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #535353;
  margin-bottom: 6px;
}

.main__forth__content__column {
  display: flex;
  align-items: center;
  margin: 24px 0 30px 0;
}

.forth__content__left {
  font-size: 24px;
  margin-right: 18px;
  color: #0123b4;
}

.forth__content__right__title {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 700;
}

.forth__content__right__semi {
  font-size: 14px;
  color: #414141;
}

.forth__main__image {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.fifth__display {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 40px 0;
}

.main__fifth__title {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 32px;
}

.main__fifth__button {
  line-height: 24px;
}

.main__fifth__content__column {
  width: 100%;
}

.fifth__content__upper {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #c8c8c8;
  font-weight: 700;
  padding: 12px 0;
  padding-top: 16px;
}
.fifth__upper__left,
.fifth__lower__left {
  width: 16%;
  text-align: center;
}

.fifth__upper__right {
  width: 84%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .fifth__resultSheet {
    margin-right: 28px;
    font-size: 11px;
    color: $blue2;
    &:hover {
      cursor: pointer;
    }
    a {
      text-decoration: none;
      color: $blue2;
    }
  }
}

.fifth__lower__right {
  padding: 20px 0;
  line-height: 22px;
  text-align: justify;
  padding-right: 20px;
  width: 80%;
}

.fifth__content__lower {
  width: 100%;
  display: flex;
}

.main__button {
  -webkit-animation: buttonAnim 1.5s ease-in-out 2 both;
  animation: buttonAnim 1.5s ease-in-out 2 both;
}

.dschool__event {
  position: absolute;
  top: 8px;
  right: 28px;
  font-weight: 700;

  .dschool__d {
    color: #cf0020;
    font-size: 20px;
  }
}

.dschool__banner__wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 200px;
  background-color: red;
  z-index: 99;
  .dschool__banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .dschool__banner__upper {
      background-color: blue;
    }
    .dschool__banner__lower {
      background-color: purple;
    }
  }
}

.snackbar__result {
  width: 100%;
  height: 340px;
  z-index: 100;
  opacity: 0;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #de8059;
  color: white;
  transition: 0.5s transform;
  transform: translateY(-340px);
}

.snackbar__anim__result {
  transform: translateY(0);
  opacity: 1;
}

.snackbar__anim__up {
  opacity: 1;
  transform: translateY(-340px);
}

.auto__result {
  font-size: 20px;
  margin-top: 40px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.snackbar__result__ment {
  font-size: 28px;
  height: 82%;
  font-weight: 700;
  line-height: 40px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.snackbar__bold {
  color: #0123b4;
  font-weight: 700;
}

.snackbar__result__button {
  font-size: 20px;
  outline: none;
  width: 100%;
  height: 18%;
  background-color: white;
  border: none;
  border-top: 1px solid white;
  color: #0123b4;
  font-weight: 700;
}

.snackbar__result__button:hover {
  cursor: pointer;
}

.yellow {
  color: #fec645;
}

.body__black {
  background-color: #313131;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 88;
}
