.proposal__wrap {
  width: 90%;
  border-bottom: 1px solid #d3d3d3;
}

.proposal__upper {
  width: 100%;
  margin-top: 20px;
}

.proposal__title {
  font-size: 24px;
  color: #2a2a2a;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 12px;
}

.proposal__sub__title {
  font-size: 16px;
  margin-bottom: 16px;
  color: #2a2a2a;
  display: flex;
  justify-content: space-between;
}

.story__content3 {
  background-color: rgb(241, 241, 241);
  padding: 24px;
  margin-bottom: 20px;
  border-radius: 16px;
}

.story__content2 {
  background-color: #e4e9ff;
  padding: 24px;
  margin-bottom: 20px;
  border-radius: 16px;
}

.story__content__title {
  text-align: justify;
}

.story__content__title2 {
  display: flex;
}

.red__exclamation {
  color: red;
}
.proposal__lower {
  text-align: justify;
  line-height: 24px;
  font-weight: 600;
  color: #333333;
}

.extra__time {
  font-size: 12px;
  color: $blue2;
}

.warm__word {
  color: $blue2;
}
