.mentoring__management__wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .mentoring__menti {
    width: 90%;
    padding-top: 20px;
    margin-bottom: 10px;

    .mentoring__menti__title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .mentoring__menti__info {
      font-size: 16px;
      color: $blue1;
    }
  }
}

.mentoring__wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .mentoring__column {
    width: 90%;
    margin-bottom: 30px;
    :hover {
      cursor: pointer;
    }
    .mentoring__date {
      margin-bottom: 6px;
      padding-left: 10px;
      font-size: 20px;
    }
    .mentoring__content__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      border: 1px solid $gray;
      border-radius: 12px;
      .mentoring__num {
        margin-bottom: 10px;
        color: #0123b4;
      }
      .mentoring__mentor__name {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 4px;
      }
      .mentoring__mentor__info {
        color: $gray;
      }
      .mentoring__content__right i {
        color: $gray;
      }
    }
  }
}
