.result__sample__wrap {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  :hover {
    cursor: pointer;
  }

  .result__sample {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px;
    padding: 30px 20px;
    padding-top: 40px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.75);

    .result__sample__content {
      display: flex;
      flex-direction: column;
      .result__name {
        font-size: 20px;
        font-weight: 900;
        margin-bottom: 12px;
      }
      .result__sub {
        color: $grayFont;
        font-weight: 700;
        margin-bottom: 8px;
      }
      .result__info {
        color: $grayFont;
        font-weight: 700;
        margin-bottom: 12px;
      }

      .result__button {
        align-self: center;
        background-color: $blue2;
        width: 180px;
        display: flex;
        justify-content: center;
        padding: 6px 0;
        padding-top: 8px;
        border-radius: 16px;
        color: white;
        :hover {
          cursor: pointer;
        }
      }
    }
    .result__sample__img {
      .result__img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .result__condition {
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: rgb(50, 163, 255);
      border-radius: 6px;
      padding: 4px 8px;
      padding-top: 6px;
      color: white;
      font-size: 14px;
      font-weight: 700;
    }
    .result__condition2 {
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: rgb(255, 98, 50);
      border-radius: 6px;
      padding: 4px 8px;
      padding-top: 6px;
      color: white;
      font-size: 14px;
      font-weight: 700;
    }
    .result__condition3 {
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: rgb(109, 109, 109);
      border-radius: 6px;
      padding: 4px 8px;
      padding-top: 6px;
      color: white;
      font-size: 14px;
      font-weight: 700;
    }
  }
}
