.test__title {
  width: 90%;
  margin-top: 30px;
  border-bottom: 1px solid rgb(94, 94, 94);
  padding-bottom: 20px;
}

.test__title .main {
  color: #0123b4;
  font-size: 18px;
}

.test__title .sub {
  margin-top: 12px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.test__title .detail {
  margin-top: 12px;
  line-height: 24px;
  font-size: 16px;
  color: rgb(94, 94, 94);
  text-align: justify;
}
