.submitForm {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.gform {
  width: 100%;
}

.submit__title {
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.span__title {
  width: 90%;
  text-align: justify;
}

.submit__sub {
  width: 90%;
  text-align: justify;
  margin-top: 10px;
  line-height: 20px;
}

.on__bold {
  color: #0123b4;
  font-size: 32px;
}

.submit {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit__name__title {
  font-size: 12px;
  color: #494949;
  margin-bottom: 8px;
  font-weight: 700;
}

.submit__num__content {
  display: flex;
  align-self: center;
  justify-content: space-between;
  font-size: 20px;
}

.info__bank__content,
.info__name__content {
  color: white;
  font-size: 20px;
}

.submit__column {
  padding-bottom: 20px;
  text-align: justify;
}

.submit__mentor__name {
  margin-bottom: 10px;
}

.submit__univ {
  display: flex;
}

.submit__school {
  margin-right: 16px;
}

.submit__class {
  font-weight: 700;
}

.submit__upper__wrap {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.75);
  padding: 0 18px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 16px;
}

.submit__upper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.submit__lower__column {
  width: 100%;
  position: relative;
}

.submit__upper2 {
  width: 100%;
  position: absolute;
  z-index: -7;
  bottom: -180px;
  background-color: #ebe7f0;
  display: flex;
  justify-content: center;
}

.submit__column {
  width: 90%;
}

.submit__text {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  padding: 40px 0;
  padding-bottom: 20px;
  text-align: justify;
  font-weight: 700;
  line-height: 22px;
  border-bottom: 1px solid rgb(190, 190, 190);

  color: #494949;
}

.submit__center {
  width: 90%;
}

.fa-quote-left {
  color: #a0a0a0;
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 12px;
  align-self: flex-start;
}

.fa-quote-right {
  font-size: 24px;
  color: #a0a0a0;
  margin-top: 8px;
  margin-bottom: 16px;
  align-self: flex-end;
}

.submit__mentor__img {
  border-radius: 20px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.submit__mentor {
  outline: none;
  border: none;
  background-color: transparent;
  color: #202020;
  font-weight: 700;
  font-size: 20px;
  width: 160px;
}

.user__name__title {
  font-size: 20px;
  color: #2a2a2a;
  margin-bottom: 5px;
}

.user__name__des {
  margin-left: 5px;
  font-size: 14px;
  color: #999999;
}

.submit__name,
.submit__tel,
.submit__content,
.submit__student {
  border: none;
  border: 1px solid #0123b4;
  padding: 10px;
  opacity: 1;
  font-size: 16px;
  width: 100%;
  color: #0123b4;
  background-color: transparent;
  padding-bottom: 10px;
  outline: none;
  border-radius: 12px;

  text-align: justify;
}

.submit__name::placeholder {
  color: #000000;
  opacity: 0.6;
  font-size: 16px;
}
.submit__tel::placeholder {
  color: #000000;
  opacity: 0.6;
  font-size: 16px;
}
.submit__content::placeholder {
  color: #000000;
  opacity: 0.6;
  font-size: 16px;
  line-height: 24px;
}
.submit__student::placeholder {
  color: #000000;
  opacity: 0.6;
  font-size: 16px;
}

.submit__submit {
  font-size: 16px;
  background-color: rgb(102, 102, 102);
  border: none;
  color: white;
  border-radius: 12px;
  padding: 16px 20px;
  width: 90%;
  outline: none;
  margin-bottom: 6px;
}

.submit__submit:hover {
  cursor: pointer;
}

.submit__button {
  width: 100%;
  text-align: center;
  margin-bottom: 160px;
}

.submit__submit__ment {
  font-size: 12px;
  color: #6b6b6b;
}

.guide__m {
  text-align: center;
  font-size: 20px;
  width: 100%;
  line-height: 24px;
  border-top: 1px solid #203aac;
  border-bottom: 1px solid #203aac;
  color: #203aac;
  padding: 20px 0;
  margin-bottom: 20px;
}

.black__loading {
  line-height: 30px;
  z-index: 111;
  position: fixed;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateY(-200px);
  padding: 10000px 0;
  transition: 0.5s all;
}

.submit__circle {
  background-color: white;
  opacity: 0.7;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px;
}

.submit__circle:nth-child(1) {
  animation: loading 1s infinite;
}
.submit__circle:nth-child(2) {
  animation: loading 1s infinite 0.3s;
}
.submit__circle:nth-child(3) {
  animation: loading 1s infinite 0.6s;
}

@keyframes loading {
  0% {
    /* background-color: black; */
    transform: translateY(-10px);
  }
  33% {
    transform: none;
  }
  100% {
  }
}
.submit__rotate {
  display: flex;
}

.submit__rotate__background {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user__differ {
  padding: 0 10px;
  display: flex;
  align-items: center;
  color: #494949;
  margin-bottom: 20px;
}

.user__differ i {
  padding-bottom: 2px;
  color: red;
  margin-right: 10px;
}

.differ__button {
  text-decoration: underline;
  font-size: 20px;
  color: #0123b4;
  font-weight: 700;
  padding: 0 5px;
}
