// desktop

@media screen and (min-width: 500px) {
  .header,
  .dschool__banner__wrap {
    width: 500px;
  }
  .body,
  .body__onboarding {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-right: 0.3px solid rgba(107, 107, 107, 0.2);
    border-left: 0.3px solid rgba(107, 107, 107, 0.2);
  }

  .buy {
    width: 500px;
  }

  .header {
    width: 500px;
  }

  .snackbar__result {
    width: 500px;
  }

  .black__loading {
    width: 500px;
  }
  .num__copy {
    background-color: transparent;
    border: 1px solid white;
    padding: 6px 12px 0px 12px;
    color: white;
    font-size: 14px;
  }
  .form__popup {
    width: 500px;
  }
  .code__input {
    padding: 16px 120px 16px 16px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(211, 211, 211);
    font-weight: 700;
    &::placeholder {
      font-weight: 700;
    }
  }
}

// 모바일

@media screen and (max-width: 499px) {
  .header {
    width: 100%;
  }
}
