@import "_variables";
@import "config/reset.scss";
@import "partials/common.scss";
@import "partials/animation.scss";
@import "partials/header.scss";
@import "partials/tag.scss";
@import "pages/home.scss";
@import "pages/mentoring.scss";
@import "pages/result.scss";
@import "https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css";

.none {
  display: none;
}
