@import "_variables";
@import "config/reset.scss";
@import "partials/common.scss";
@import "partials/animation.scss";
@import "partials/header.scss";
@import "partials/footer.scss";
@import "partials/tag.scss";
@import "partials/openschool.scss";
@import "partials/nav.scss";
@import "pages/home.scss";
@import "pages/lesson.scss";
@import "pages/mentoring.scss";
@import "pages/result.scss";
@import "pages/passbook.scss";
@import "pages/mentordetail.scss";
@import "pages/lessondetail.scss";
@import "pages/mentoringresult.scss";
@import "pages/select.scss";
@import "pages/submit.scss";
@import "https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css";
@import "media";

.none {
  display: none;
}

.big__coupon {
  font-size: 18px;
  line-height: 24px;
}
