.main__dis {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 90vh;
  position: relative;
}

.bg__img1,
.bg__img2,
.bg__img3 {
  position: absolute;
  z-index: -99;
  opacity: 0.2;
  width: 180px;
}

.bg__img1 {
  left: 0px;
}

.bg__img2 {
  right: 0px;
  top: 200px;
}

.bg__img3 {
  left: 0px;
  top: 400px;
}

.catch__phrase {
  margin-top: 140px;
  font-size: 27px;
  /* width: 210px; */
  line-height: 38px;
  color: rgb(42, 42, 42);
  margin-bottom: 10px;
  transform: translateY(40px);
  animation: homeFadeIn 1s forwards;
}

.catch__phrase span {
  font-weight: 700;
  color: #364baa;
}

.catch__des {
  font-size: 19px;
  line-height: 24px;
  margin-bottom: 10px;
  color: rgba(42, 42, 42, 0.8);
  opacity: 0;
  transform: translateY(40px);
  animation: homeFadeIn 1s forwards 0.4s;
}

.catch__des span {
  font-weight: 700;
}

.main__button {
  position: fixed;
  bottom: 80px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  color: white;
  background-color: #0123b4;
  padding: 15px 30px;
  border-radius: 20px;
  font-size: 20px;
  margin-top: 30px;
  opacity: 0;
  transform: translateY(40px);
  animation: homeFadeIn 1s forwards 0.8s;
}

.main__button:visited {
  text-decoration: none;
  color: white;
  background-color: #0123b4;
}

@keyframes homeFadeIn {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.toring__site {
  font-size: 18px;
  opacity: 0;
  transform: translateY(40px);
  margin-top: 30px;
  text-decoration: underline;
  color: #0123b4;
  padding: 20px;
  animation: homeFadeIn 1s forwards 1.2s;
}

.toring__site:visited {
  color: #0123b4;
  text-decoration: underline;
}

.school__grid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  gap: 4%;
}

.school__grid > * {
  padding: 30px;
  background-color: white;
  color: #0123b4;
  border: 1px solid #0123b4;
}
