.mentor {
  opacity: 0;
  transform: translateY(50px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: appear 1s forwards;
  border-radius: 10px 10px 0 0;
}

@keyframes appear {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.toring {
  font-size: 15px;
  margin-top: 20px;
  padding-left: 20px;
  align-self: flex-start;
}

.toring .toring__logo {
  color: #0123b4;
  font-weight: 700;
  font-size: 20px;
}

.logo {
  width: 100%;
  background-color: black;
}

.mentor__background {
  opacity: 0.5;
  width: 100%;
}

.mentor__simple__info {
  width: 90%;
  position: absolute;
  top: -160px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 20;
}

.mentor__face {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
  margin-top: 30px;
}

.logo__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-start;
}

.logo__school {
  font-size: 28px;
  font-weight: 700;
  color: white;
}

.logo__line {
  border-right: 2px solid white;
  height: 40px;
  margin-right: 12px;
  margin-bottom: 10px;
  margin-top: 6px;
}

.logo__univ {
  font-size: 28px;
  font-weight: 700;
  color: white;
}

.simple__info {
  background-color: white;
  margin-top: -20px;
  border-radius: 20px 20px 0 0;
  padding-top: 16px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mentor__name {
  margin-top: 16px;
  font-size: 24px;
  color: #313131;
  width: 90%;
  margin-bottom: 10px;
}

.mentor__uni__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(190, 190, 190);
  padding-bottom: 20px;
}

.mentor__uni {
  margin-top: 5px;
  font-size: 18px;
  color: rgb(80, 80, 80);
  width: 90%;
  display: flex;
  align-items: center;
  border-bottom: ;
}

.mentor__uni__mark {
  width: 18px;
  height: 18px;
  object-fit: cover;
  margin-right: 5px;
  margin-bottom: 3px;
}

.mentor__title {
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
  color: rgb(34, 34, 34);
  line-height: 30px;
  width: 90%;
  margin-bottom: 20px;
}

.mentoring__badge {
  width: 90%;
  display: flex;
  margin-bottom: 20px;
}

.mentoring__badge__style {
  font-size: 12px;
  font-weight: 600;
  border-radius: 8px;
  margin-right: 8px;
  background-color: #ebebeb;
  padding: 6px 12px;
  padding-top: 9px;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #ebebeb;
  border-top: 1px solid rgb(190, 190, 190);

  padding: 30px 10px;
}

.price__column__wrap {
  width: 90%;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

.price__column {
  width: 100%;
  font-weight: 700;
  padding: 10px 0;
}

.price__column:first-child {
  border-bottom: 1px solid rgb(190, 190, 190);
}

.price__month {
  padding: 10px 0;
}

.price__semester {
  padding: 10px 0;
}

.price__month {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.price__red {
  font-weight: 700;
  color: #f54e00;
}

.price__black {
  font-weight: 700;
  font-size: 18px;
}

.extra__time {
  color: #f54e00;

  font-size: 12px;
  margin-left: 8px;
}

.price__semester {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.free__price {
  width: 100%;
  background-color: #d6ddff;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.free__title {
  width: 90%;
  font-size: 24px;
  margin-bottom: 10px;
  color: #313131;
  line-height: 32px;
}

.free__ment {
  color: #313131;

  margin-bottom: 10px;
  font-size: 18px;
  width: 90%;
  line-height: 24px;
}

.free__button {
  width: 90%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  text-align: center;
  outline: none;
  border: none;
  background-color: #0123b4;
  color: white;
  border-radius: 6px;
}

.free__button:hover {
  cursor: pointer;
}

.free__button:active {
  outline: none;
}

.price__benefit {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding: 20px 0;
}

.price__benefit__wrap {
  width: 100%;
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
}

.benefit__column {
  padding: 10px 0;
  font-size: 16px;
}

.benefit__column i {
  color: #3b3b3b;
  padding-right: 5px;
}

.service__info {
  margin-top: 30px;
  width: 100%;
  background-color: #282e49;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.service__title {
  font-weight: 300;
  color: white;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  margin-top: 20px;
}

.service__red__line {
  height: 5px;
  width: 30px;
  background-color: #fb3e46;
  margin-bottom: 20px;
}

.service__q {
  font-size: 14px;
  color: white;
  font-weight: 700;
  margin-bottom: 12px;
}

.service__sub {
  font-size: 14px;
  color: rgb(187, 187, 187);
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 44px;
}

.service__column {
  width: 90%;
}

.service__content__day {
  color: white;
  margin-bottom: 12px;
}

.service__content__column {
  margin-bottom: 20px;
}

.service__content2__column {
  margin-bottom: 20px;
}

.service__content__column {
  margin-bottom: 20px;
}

.service__content__title {
  background-color: #fb3e46;
  padding: 6px 12px;
  color: white;
  font-size: 18px;
  border-radius: 10px;
}

.service__content__detail__upper {
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
}

.service__content__detail__lower {
  color: rgb(187, 187, 187);

  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.service__plus {
  font-size: 32px;
  font-weight: 700;
  color: #fb3e46;
  margin-bottom: 20px;
  margin-left: 40px;
}

/* 
.price {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  background-color: #e6e6e6;

  padding: 16px;
  border-radius: 25px;
}

.price__content {
  border-bottom: 1px solid #3b3b3b;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #3b3b3b;
  font-weight: 500;
}

.price__content__column i {
  margin-right: 8px;
}

.price__price {
  margin-top: 16px;
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
}

.price__real {
  color: #0123b4;
  font-weight: 700;
  font-size: 24px;
}

.price__off {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10px;
} */

.off__column:nth-child(1) {
  color: red;
  font-size: 12px;
}

.off__column:nth-child(2) {
  text-decoration: line-through;
  color: rgb(124, 124, 124);
}

.mentor__detail {
  width: 90%;
  margin-top: 10px;
  padding-bottom: 20px;
  /* border-bottom: 1px solid rgb(177, 177, 177); */
}

.detail__title {
  margin-top: 20px;
  line-height: 25px;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
}

.detail__certify {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f1f7eb;
}

.certify__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #65c32a;
  padding: 16px;
  font-size: 12px;
}

.certify__content i {
  margin-bottom: 10px;
  font-size: 16px;
}

.detail__content__column {
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
}

.detail__content {
  margin-bottom: 10px;
  display: flex;
}

.num {
  margin-right: 10px;
}

.special__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(177, 177, 177);
}

.special {
  width: 90%;
  margin-top: 30px;
  padding-bottom: 20px;
}

.special__title {
  font-size: 20px;
  line-height: 25px;
  color: black;
}

.special__column {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
}

.special__content {
  margin-bottom: 10px;

  display: flex;
}

.special__content .campus {
  width: 100%;
}

.worry {
  width: 90%;
  margin-top: 30px;
  padding-bottom: 20px;
}

.worry__title {
  color: black;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 25px;
}

.worry__column {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 20px;
  font-size: 16px;
}

.worry__content {
  color: #868686;
  text-align: center;
  margin-bottom: 16px;
  line-height: 24px;
}

.mentor__suggest__wrap {
  border-top: 1px solid rgb(177, 177, 177);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.mentor__suggest {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.mentor__suggest__ment {
  font-size: 20px;
  line-height: 30px;
}

.mentor__suggest__img {
  width: 240px;
  object-fit: cover;
  align-self: flex-end;
}

.mentor__story__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ebebeb;
}

.mentor__story {
  width: 90%;
  margin-top: 30px;
  padding-bottom: 20px;
}

.story__title {
  color: black;
  font-size: 20px;
  line-height: 25px;
}

.story__semi {
  margin-top: 20px;
  text-align: right;
  color: #585858;
  line-height: 20px;
  font-size: 14px;
}

.story__column {
  margin-top: 20px;
}

.story__content {
  background-color: white;
  padding: 24px;
  margin-bottom: 20px;
  border-radius: 16px;
}

.story__content__title {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.story__content__description {
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px;
  color: rgb(36, 36, 36);
  text-align: justify;
  font-weight: 400;
}

.menti__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menti {
  width: 90%;
  margin-top: 30px;
  padding-bottom: 20px;
}

.menti__title {
  color: black;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.menti__column {
  margin-top: 20px;
}

.menti__content {
  color: #272727;
  margin-bottom: 16px;
  line-height: 24px;
}

.menti__content i {
  margin-right: 8px;
  color: #272727;
}

.curri__column__title i {
  margin-right: 8px;
  color: #0123b4;
  width: 10%;
}

.curri__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ebebeb;
}

.curri {
  width: 90%;
  margin-top: 30px;
  padding-bottom: 20px;
}

.curri__title {
  color: black;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 20px;
}

.curri__column__title {
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #0123b4;
  font-weight: 700;
}

.curri__column {
  display: flex;
  margin-top: -3px;
  margin-bottom: -3px;
  padding-left: 10px;
}

.curri__line {
  margin-left: 1px;
  width: 10%;
  border-left: 2px solid #0123b4;
  z-index: 9;
}

.curri__content__des {
  margin: 16px 0;
  width: 90%;
}

.curri__content__column {
  display: flex;
  color: #3b3b3b;
  font-size: 16px;

  text-align: justify;
  line-height: 24px;
}

.curri__content__column i {
  margin-right: 8px;
  line-height: 20px;
  font-size: 16px;
}

.curri__content__des__semi {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 21px;
  color: #272727;
}

.curri__content__des__column {
  display: flex;
  align-items: flex-start;
}

.des__column__title {
  font-size: 20px;
  line-height: 30px;
}

.curri__content__des__column i {
  font-size: 20px;
  margin-right: 8px;
  line-height: 26px;
}

.des__column__content {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 16px;
  color: #272727;
}

.method__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.method {
  width: 90%;
  margin-top: 30px;
  padding-bottom: 20px;
}

.method__title {
  color: black;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 20px;
  font-weight: 700;
}

.method__column {
  background-color: #e6e6e6;
  padding: 20px 30px;
  color: #272727;
  border-radius: 25px;
}

.method__content {
  display: flex;
  margin: 10px 0;
  line-height: 20px;
  text-align: justify;
}

.cancel {
  color: rgb(245, 78, 0);
  font-size: 14px;
}

.review {
  width: 90%;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(177, 177, 177);
}

.review__title {
  color: #585858;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
}

.review__column {
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(88, 88, 88, 0.2);
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.review__user {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}

.review__date {
  font-size: 14px;
  color: #868686;
  font-weight: 400;
}

.review__content {
  padding: 0 20px;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  align-self: center;
}

.final__price {
  margin-top: 20px;
  background-color: #00092f;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 24px 0;
}

.final__price2 {
  margin-top: 20px;
  background-color: #2f0000;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 24px 0;
  margin-bottom: 20px;
}

.final__column {
  width: 90%;
}

.final__title {
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin: 18px 0;
  display: flex;
  justify-content: space-between;
}

.extra__time__final {
  font-size: 14px;
  color: #fb3e46;
  font-weight: 700;
}

.final__sub {
  color: white;
  font-size: 20px;
}

.final__price__column {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 18px 0;
  align-items: center;
}

.final__left {
  color: #b4b4b4;
}

.final__right {
  color: #b4b4b4;
}

.final__left2 {
  color: #708bff;
  font-size: 20px;
  font-weight: 700;
}

.final__right2 {
  color: #708bff;
  font-weight: 700;
  font-size: 24px;
}

.other__wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.other__title {
  font-size: 22px;
  font-weight: 700;
  color: rgb(34, 34, 34);
  line-height: 30px;
  width: 90%;
  margin-bottom: 20px;
}

.other {
  width: 90%;
}
.buy {
  background-color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.buy__off {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: white;
}

.off__bold {
  color: rgb(255, 217, 0);
}

.buy__button {
  display: flex;
  width: 100%;
  padding: 8px;
  justify-content: space-between;
}

.buy__toring {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34%;
  padding: 10px 20px;
  padding-top: 12px;
  text-align: center;
  background-color: #e6e6e6;
  color: #0123b4;
  border: none;
  line-height: 18px;
  border-radius: 10px;
}

.buy__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64%;
  padding: 10px 20px;
  text-align: center;
  border: none;
  background-color: #0123b4;
  color: white;
  border-radius: 10px;
}

.buy:hover {
  cursor: pointer;
}
