.mentor {
  opacity: 0;
  transform: translateY(50px);

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: appear 1s forwards;
}

@keyframes appear {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.toring {
  font-size: 15px;
  margin-top: 20px;
  padding-left: 20px;
  align-self: flex-start;
}

.toring .toring__logo {
  color: #0123b4;
  font-weight: 700;
  font-size: 20px;
}

.logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 10px;
}

.logo .logo__img {
  width: 360px;
  height: 360px;
  opacity: 0.1;
  position: absolute;
  z-index: -99;
  top: -36px;
}

.mentor__face {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  /* position: relative; */
}

.mentor__name {
  font-weight: 700;
  margin-top: 16px;
  font-size: 18px;
  /* position: relative; */
  color: rgb(49, 49, 49);
}

.mentor__uni {
  margin-top: 5px;
  font-size: 16px;
  color: rgb(80, 80, 80);
}

.mentor__title {
  font-size: 20px;
  padding: 0 20px;

  margin-top: 16px;
  text-align: center;
  color: rgb(34, 34, 34);
  line-height: 28px;
}

.badge {
  display: flex;
  margin-top: 20px;
}

.badge .badge__study {
  background-color: #b4a201;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  padding-top: 7px;
}

.badge .badge__motive {
  background-color: #0123b4;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  padding-top: 7px;
  margin: 0 10px;
}

.badge .badge__consult {
  background-color: #b42501;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  padding-top: 7px;
}

.price {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  background-color: #e6e6e6;

  padding: 16px;
  border-radius: 25px;
}

.price__content {
  border-bottom: 1px solid #3b3b3b;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #3b3b3b;
  font-weight: 500;
}

.price__content__column i {
  margin-right: 8px;
}

.price__price {
  margin-top: 16px;
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
}

.price__real {
  color: #0123b4;
  font-weight: 700;
  font-size: 24px;
}

.price__off {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10px;
}

.off__column:nth-child(1) {
  color: red;
  font-size: 12px;
}

.off__column:nth-child(2) {
  text-decoration: line-through;
  color: rgb(124, 124, 124);
}

.mentor__detail {
  width: 90%;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(54, 54, 54);
}

.detail__title {
  margin-top: 20px;
  line-height: 25px;
  font-size: 20px;
  color: #585858;
}

.detail__certify {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f1f7eb;
}

.certify__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #65c32a;
  padding: 20px;
  font-size: 12px;
}

.certify__content i {
  margin-bottom: 10px;
  font-size: 16px;
}

.detail__content__column {
  margin-top: 20px;
  font-size: 14px;
}

.detail__content {
  margin-bottom: 10px;
  line-height: 20px;
  display: flex;
}

.num {
  margin-right: 10px;
}

.special {
  width: 90%;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(54, 54, 54);
}

.special__title {
  font-size: 20px;
  line-height: 25px;
  color: #585858;
}

.special__column {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 14px;
}

.special__content {
  margin-bottom: 10px;
  line-height: 20px;
  display: flex;
}

.special__content .campus {
  width: 100%;
}

.worry {
  width: 90%;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(54, 54, 54);
}

.worry__title {
  color: #585858;

  font-size: 20px;
  line-height: 25px;
}

.worry__column {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 20px;
  font-size: 16px;
}

.worry__content {
  color: #868686;
  text-align: center;
  margin-bottom: 16px;
  line-height: 24px;
}

.mentor__story {
  width: 90%;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(54, 54, 54);
}

.story__title {
  color: #585858;
  font-size: 20px;
  line-height: 25px;
}

.story__semi {
  margin-top: 20px;
  text-align: right;
  color: #585858;
  line-height: 20px;
  font-size: 14px;
}

.story__column {
  margin-top: 20px;
}

.story__content__title {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.story__content__description {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 21px;
  color: #585858;
  text-align: justify;
}

.menti {
  width: 90%;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(54, 54, 54);
}

.menti__title {
  color: #585858;
  font-size: 20px;
  line-height: 25px;
}

.menti__column {
  margin-top: 20px;
}

.menti__content {
  color: #272727;
  margin-bottom: 16px;
  line-height: 24px;
}

.menti__content i {
  margin-right: 8px;
  color: #0123b4;
}

.curri__column__title i {
  margin-right: 8px;
  color: #0123b4;
  width: 10%;
}

.curri {
  width: 90%;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(54, 54, 54);
}

.curri__title {
  color: #585858;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 20px;
}

.curri__column__title {
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #0123b4;
  font-weight: 700;
}

.curri__column {
  display: flex;
  margin-top: -3px;
  margin-bottom: -3px;
  padding-left: 10px;
}

.curri__line {
  margin-left: 1px;
  width: 10%;
  border-left: 2px solid #0123b4;
  z-index: -99;
}

.curri__content__des {
  margin: 20px 0;
  width: 90%;
}

.curri__content__column {
  display: flex;
  color: #3b3b3b;
  font-size: 16px;
  margin: 10px 0;
  text-align: justify;
  line-height: 24px;
}

.curri__content__column i {
  margin-right: 8px;
  line-height: 20px;
  font-size: 16px;
}

.curri__content__des__semi {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 18px;
  color: #272727;
}

.curri__content__des__column {
  display: flex;
  align-items: flex-start;
}

.des__column__title {
  font-size: 20px;
  line-height: 30px;
}

.curri__content__des__column i {
  font-size: 20px;
  margin-right: 8px;
  line-height: 26px;
}

.des__column__content {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 16px;
  color: #272727;
}

.method {
  width: 90%;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(54, 54, 54);
}

.method__title {
  color: #585858;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 20px;
}

.method__column {
  background-color: #e6e6e6;
  padding: 20px 30px;
  color: #272727;
  border-radius: 25px;
}

.method__content {
  display: flex;
  margin: 10px 0;
  line-height: 20px;
  text-align: justify;
}

.cancel {
  color: red;
  font-size: 14px;
}

.review {
  width: 90%;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(54, 54, 54);
}

.review__title {
  color: #585858;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
}

.review__column {
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(88, 88, 88, 0.2);
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.review__user {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}

.review__date {
  font-size: 14px;
  color: #868686;
  font-weight: 400;
}

.review__content {
  padding: 0 20px;
  font-size: 14px;
  line-height: 21px;
  text-align: justify;
  align-self: center;
}

.other {
  width: 90%;
  margin-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 60px;
}

.other__title {
  color: #585858;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 20px;
}

.other__content {
  margin-bottom: 20px;
}
.other__content2 {
  margin-bottom: 20px;
}

.other__content .simple {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.other__content2 .simple {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.buy {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
}

.buy__toring {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  padding: 10px 20px;
  padding-top: 12px;
  text-align: center;
  background-color: #e6e6e6;

  color: #0123b4;
  border: none;
  line-height: 18px;
}

.buy__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  padding: 10px 20px;
  text-align: center;
  border: none;
  background-color: #0123b4;
  color: white;
}

.buy:hover {
  cursor: pointer;
}
