.on__img {
  width: 240px;
}

.leftOut {
  /* transform: translateX(-375px); */
  animation: leftOut 0.5s forwards;
}

.rightIn {
  opacity: 0;
  animation: rightIn 0.5s forwards;
}

@keyframes rightIn {
  0% {
    opacity: 0;
    transform: translateX(375px);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes leftOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(-375px);
  }
}

.onboarding1 {
  position: fixed;
  top: 120px;
}
.onboarding2,
.onboarding3 {
  opacity: 0;
  position: fixed;
  top: 120px;
}

.onbo__button {
  position: fixed;
  top: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.button__onboarding {
  border: none;
  background-color: #0123b4;
  color: white;
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 30px;
  outline: none;
  width: 240px;
  font-weight: 700;
  z-index: 99;
  margin-bottom: 10px;
}

.button__onboarding:hover {
  cursor: pointer;
}

.button__onboarding:active {
  opacity: 0.5;
}

.onbo__count {
  font-size: 16px;
  color: #6170b3;
}

.onboarding1,
.onboarding2,
.onboarding3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.on__title {
  color: rgb(63, 63, 63);
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}

.on__title .bold {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #364baa;
}

.body__onboarding {
  margin-bottom: 120px;
}
