.pagetest {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
}

.pagetest__title {
  width: 90%;

  margin-top: 40px;
  margin-bottom: 30px;
}

.select {
  border-radius: 50%;
}

.select__circle__title:nth-child(1) {
  color: #0123b4;
  font-size: 14px;
}

.select__circle__title {
  color: rgb(87, 87, 87);
  font-size: 14px;
}

.select__circle1 {
  opacity: 0.8;
  border: 2px solid #0123b4;
  width: 30px;
  height: 30px;
}
.select__circle2 {
  opacity: 0.8;

  border: 2px solid #0123b4;
  width: 27px;
  height: 27px;
}
.select__circle3 {
  opacity: 0.8;

  border: 2px solid #0123b4;

  width: 24px;
  height: 24px;
}
.select__circle4 {
  border: 2px solid rgb(170, 170, 170);

  width: 20px;
  height: 20px;
}
.select__circle5 {
  border: 2px solid rgb(87, 87, 87);
  width: 24px;
  height: 24px;
}
.select__circle6 {
  border: 2px solid rgb(87, 87, 87);

  width: 27px;
  height: 27px;
}
.select__circle7 {
  border: 2px solid rgb(87, 87, 87);

  width: 30px;
  height: 30px;
}

#myProgress2 {
  border-radius: 20px;
  margin: 20px 0;
  width: 90%;
  background-color: rgb(196, 196, 196);
}

#myBar2 {
  width: 74%;
  height: 10px;
  font-size: 12px;
  font-weight: 700;
  background-color: #4055af;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading__bar {
  display: flex;
  justify-content: center;
  width: 90%;
  border-radius: 20px;
  background-color: rgb(189, 189, 189);
  color: white;
  padding: 20px 0;
  margin: 10px 0;
}
.loading__bar2 {
  display: flex;
  justify-content: center;
  width: 90%;
  border-radius: 20px;
  background-color: #4a599c;
  color: white;
  padding: 20px 0;
  margin: 10px 0;
}

.chart {
  width: 100%;
}

.chart__result {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.chart__result .badge1 {
  background-color: royalblue;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  margin-left: 20px;
}

.chart__result .badge2 {
  background-color: rgb(225, 164, 65);
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 20px;
}

.test__title2 {
  width: 90%;
  margin-top: 10px;
}

.test__title2 .sub2 {
  margin-top: 12px;
  font-weight: 700;
  font-size: 22px;
}
.mentor__face2 {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  /* position: relative; */
}

.logo2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 10px;
}
