.submitForm {
  margin-top: 40px;
  width: 90%;
}

.passbook__title {
  font-size: 24px;
  color: #2a2a2a;
}

.total__price {
  margin: 20px 0;
  padding-top: 20px;

  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  color: #2a2a2a;
}

.total__price__column:nth-child(2) {
  margin: 20px 0;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  color: #999999;
}

.price__mentor__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ececec;
  padding: 16px 24px;
  margin-bottom: 16px;
  border-radius: 10px;
}

.price__left {
  display: flex;
  margin-bottom: 5px;
}

.price__left__content {
  color: #626262;
  line-height: 20px;
}

.price__left__content2 {
  color: #626262;
  line-height: 20px;
  font-size: 14px;
}

.before__price {
  align-self: flex-end;
}

.total__price__column:nth-child(4) {
  margin: 20px 0;
  color: #999999;
  padding: 0 10px;
  display: flex;
  color: rgb(255, 71, 71);
  justify-content: space-between;
  align-items: center;
}

.total__price__column:nth-child(6) {
  color: #999999;
  margin: 20px 0;

  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.after__price {
  align-self: flex-end;
  font-size: 20px;
  color: #0123b4;
  font-weight: 700;
}

.passbook {
  margin-top: 20px;
  padding: 20px 20px;
  border-radius: 10px;
  background-color: #3b52b6;
  margin-bottom: 20px;
}

.passbook__num__title,
.info__bank__title,
.info__name__title {
  font-size: 14px;
  color: #cccccc;
  margin-bottom: 10px;
}

.passbook__num__content {
  display: flex;
  align-self: center;
  justify-content: space-between;
  font-size: 20px;
}

.snackbar {
  font-size: 20px;
  position: fixed;
  background-color: #00884f;
  width: 100%;
  padding: 30px 0;
  top: 0;
  text-align: center;
  color: white;
  z-index: 199;
  opacity: 0;
  transition: 1s all;
  transform: translateY(-100px);
}

.snackbar__anim {
  transform: translateY(0);
  opacity: 1;
}

.info__bank__content,
.info__name__content {
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.num__copy {
  background-color: transparent;
  border: 1px solid white;
  padding: 6px 12px 0 6px;
  padding-bottom: 0;
  color: white;
  font-size: 14px;
}

.num__copy:hover {
  cursor: pointer;
}

.num__copy:active {
  opacity: 0;
}

.passbook__column:nth-child(1) {
  width: 100%;
  padding-bottom: 20px;
}
.passbook__column:nth-child(2) {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
}
.passbook__column:nth-child(2) {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
}

.passbook__info {
  width: 50%;
}

.passbook__column:nth-child(3) {
  padding-top: 20px;
  border-top: 1px solid white;
  display: flex;
  width: 100%;
}

.passbook__column:nth-child(4) {
  padding-top: 20px;
  display: flex;
  width: 100%;
}

.passbook__price {
  width: 50%;
}

.info__price__content {
  color: #fec645;
  font-size: 20px;
  font-weight: 700;
  margin-top: 14px;
}

.passbook__mentor {
  border: none;
  outline: none;
  background-color: transparent;
  color: #fec645;
  font-weight: 700;
  font-size: 20px;
}

.num__content {
  width: 70%;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.user__name__title {
  font-size: 20px;
  color: #2a2a2a;
  margin-bottom: 5px;
}

.user__name__des {
  margin-left: 5px;
  font-size: 14px;
  color: #999999;
}

.user__name,
.user__tel {
  border: none;
  border-bottom: 2px solid #fec645;
  border-radius: 0;
  opacity: 1;
  font-size: 16px;
  width: 95%;
  color: #fec645;
  background-color: transparent;
  padding-bottom: 10px;
  outline: none;
  animation: inputAnim 2s infinite;
}

@keyframes inputAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.user__name::placeholder {
  color: #fec645;
  opacity: 1;
  font-size: 16px;
}
.user__tel::placeholder {
  color: #fec645;
  opacity: 1;
  font-size: 16px;
}

.warning__title i {
  margin-right: 5px;
}

.passbook__button {
  width: 90%;
  display: flex;
  margin-top: 20px;
  align-items: center;
  margin-bottom: 80px;
  justify-content: space-around;
}

.passbook__button__kakao {
  text-align: center;
  width: 48%;
  padding: 20px 0;
  background-color: transparent;
  color: #0123b4;
  border: 1px solid #0123b4;
  border-radius: 10px;
}

.passbook__button__home {
  border-radius: 10px;

  text-align: center;
  padding: 20px 0;
  width: 48%;
  background-color: #0123b4;
  color: white;
}

.passbook__button__kakao:hover {
  cursor: pointer;
}

.passbook__button__kakao:active {
  opacity: 0;
}

.passbook__button__home:hover {
  cursor: pointer;
}

.passbook__button__home:active {
  opacity: 0;
}

.differ__button:hover {
  cursor: pointer;
}

.differ__button:active {
  opacity: 0;
}
