.result__page__wrap {
  width: 100%;
  padding: 30px 0;
  background-color: #edf0fe;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.result__page {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.one__word {
  font-size: 28px;
  color: rgb(20, 20, 20);
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 10px;
}

.upper__ceo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.upper__ceo__column:nth-child(2) {
  margin-left: 16px;
  padding-bottom: 60px;
}

.two__word {
  text-align: justify;
  color: #474747;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}

.three__word {
  color: #474747;
  text-align: justify;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer__ceo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__left__ment {
  color: #0123b4;
  margin-bottom: 6px;
  line-height: 20px;
  font-size: 14px;
}

.footer__left__button {
  background-color: transparent;
  padding: 10px 20px;
  font-size: 16px;
  color: #0123b4;
  border: 1px solid #0123b4;
  border-radius: 6px;
  outline: none;
}

.footer__left__button:hover {
  cursor: pointer;
}

.ceo__image {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: url("../img/ceo.jpeg");
  background-size: cover;
}

.footer__inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  bottom: -16px;
  right: -16px;
}
.footer__inner__com {
  width: 100%;
  margin-bottom: 10px;
  text-align: right;
}

.footer__inner__name {
  width: 100%;
}

.inner__com,
.inner__name {
  padding: 4px 6px;
  padding-top: 6px;
  background-color: white;
  border: 0.1px solid rgba(172, 172, 172, 0.2);
  font-weight: 700;
}

.result {
  width: 90%;
  margin-bottom: 40px;
}

.result__title {
  font-size: 24px;
  line-height: 25px;
  margin-bottom: 20px;
}
.mentor__simple {
  border-radius: 8px;
  width: 100%;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  margin-bottom: 40px;
}

.mentor__simple:hover {
  cursor: pointer;
}

.label__style1 {
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  border-radius: 8px 8px 0 0;
  background-color: rgb(42, 159, 255);
  width: 100%;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.label__style2 {
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  border-radius: 8px 8px 0 0;
  background-color: rgb(255, 98, 50);

  width: 100%;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.label__extra {
  color: #ecf0ff;
  font-weight: 400;
  font-size: 12px;
}

.nr__upper {
  width: 100%;
  display: flex;
  padding-top: 50px;
  align-items: center;
  padding-bottom: 10px;
  background-color: #f7f7f7;
  border-radius: 10px 10px 0 0;
}

.nr__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 18px;
}

.nr__info__name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.nr__info__uni,
.nr__info__sch {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 8px;
  color: #2a2a2a;
}

.nr__lower {
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  border-radius: 0 0 8px 8px;
}

.mentor__class__title {
  width: 90%;
  padding: 20px 0 10px 0;
}

.mentor__class__title__upper {
  width: 100%;
  border-bottom: 1px solid #797979;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.title__upper__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 24px;
  text-align: justify;
}

.title__upper__mentoring {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
}

.mentoring__style {
  font-size: 12px;
  background-color: white;
  color: #474747;
  font-weight: 700;
  padding: 4px 8px;
  padding-top: 6px;
  border-radius: 10px;
  margin-right: 6px;
}

.content__column__detail {
  width: 100%;
  text-align: right;
  font-size: 12px;
  color: #474747;
  font-weight: 700;
}

.snackbar__result {
  width: 100%;
  height: 320px;
  z-index: 100;
  opacity: 0;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(64, 85, 175, 1);
  color: white;
  transition: 0.5s transform;
  transform: translateY(-320px);
}

.snackbar__anim__result {
  transform: translateY(0);
  opacity: 1;
}

.snackbar__anim__up {
  opacity: 1;
  transform: translateY(-320px);
}

.snackbar__result__button {
  font-size: 28px;
  outline: none;
  width: 100%;
  height: 22%;
  background-color: white;
  border: none;
  border-top: 1px solid white;
  color: #4055af;
  font-weight: 700;
}

.auto__result {
  font-size: 16px;
  margin-bottom: 12px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.snackbar__result__ment {
  font-size: 32px;
  height: 78%;
  font-weight: 700;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.snackbar__result__button:hover {
  cursor: pointer;
}

.yellow {
  color: #fec645;
}
