.test__title {
  width: 90%;
  margin-top: 30px;
  border-bottom: 1px solid rgb(94, 94, 94);
  padding-bottom: 20px;
}

.test__title .main {
  color: #0123b4;
  font-size: 18px;
}

.test__title .sub {
  margin-top: 12px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.test__title .detail {
  margin-top: 12px;
  line-height: 24px;
  font-size: 16px;
  color: rgb(94, 94, 94);
  text-align: justify;
}

.tag__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.tag__wrap2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-bottom: 20px;
}

.tag__title {
  width: 90%;
  margin-top: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

/* #4055af  */

.tag__column {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 12px;
}

.tag__content {
  font-size: 16px;
  border-radius: 20px;
  margin-right: 8px;
  margin-bottom: 12px;
  padding: 10px 16px;
  font-weight: 700;
  color: #adadad;
  background-color: white;
  border: 1px solid #adadad;
  outline: none;
}

.tag__content:hover {
  cursor: pointer;
}

.tag__content2 {
  font-size: 12px;
  border-radius: 16px;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 6px 12px;
  font-weight: 700;
  color: #adadad;
  background-color: white;
  border: 1px solid #adadad;
  outline: none;
}

.tag__content2:hover {
  cursor: pointer;
}

.selected__tag {
  color: #4055af;
  background-color: white;
  border: 1px solid #4055af;
}

.tag__button__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.tag__button {
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  color: white;
  background-color: #d6d6d6;
  border: none;
  padding: 15px 50px;
  border-radius: 12px;

  font-size: 20px;
  margin-top: 30px;
  width: 90%;
  outline: none;
  text-align: center;
  font-weight: 700;
}

.tag__button:hover {
  cursor: pointer;
}

.active__button {
  color: white;
  background-color: #0123b4;
  border: 1px solid #0123b4;
}

.tag__title__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tag__lower__wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tag__lower__title {
  width: 90%;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.tag__lower__column__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #dadada;
  padding-top: 20px;
  padding-bottom: 60px;
}

.tag__lower__column {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}

.tag__lower__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tag__lower__left__des {
  line-height: 22px;
  font-size: 16px;
  margin-bottom: 8px;
}

.tag__lower__left__button {
  background-color: #f7f7f7;
  padding: 8px 16px;
  padding-top: 12px;
  border-radius: 4px;
  border: 1px solid #cecece;
  font-weight: 700;
}

.tag__lower__left__button:hover {
  cursor: pointer;
}

.tag__lower__img {
  width: 120px;
}
