.result__title {
  color: #4055af;

  font-size: 20px;
  line-height: 25px;
  margin-bottom: 20px;
}

.list__title {
  color: #0123b4;
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0;
}

.rec__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.simple__img {
  border-radius: 50%;
  width: 50%;
  height: 200px;
}

.body .simple__a {
  width: 90%;
  margin-bottom: 30px;
  text-decoration: none;
  color: rgb(39, 39, 39);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.result a .simple {
  width: 100%;
  text-decoration: none;
  color: rgb(39, 39, 39);
  background-color: white;
  box-shadow: 3px 0px 10px -5px rgba(50, 50, 93, 0.25),
    -3px 0px 10px -5px rgba(50, 50, 93, 0.25);
}

.mentor__class__title {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #2a2a2a;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  background-color: white;
  text-align: justify;
  padding: 15px 20px 5px 20px;
  margin-bottom: 40px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.mentor__class__title__upper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.title__mentoring {
  color: #0123b4;
  margin-top: 4px;
  font-size: 20px;
  margin-right: 8px;
}

.title__mentoring__complete {
  font-size: 16px;
  color: white;
  border: 1px solid #e8344e;
  background-color: #e8344e;
  border-radius: 10px;
  padding: 2px 12px;
  text-align: center;
  width: 90px;
  padding-top: 4px;
}

.title__mentoring__ing {
  text-align: center;
  width: 90px;
  font-size: 16px;
  color: white;
  border: 1px solid #3095d1;
  background-color: #3095d1;
  border-radius: 10px;
  padding: 2px 12px;
  padding-top: 4px;
}

.title__mentoring__end {
  text-align: center;
  width: 90px;
  font-size: 16px;
  color: white;
  border: 1px solid #666666;
  background-color: #666666;
  border-radius: 10px;
  padding: 2px 12px;
  padding-top: 4px;
}

.content__column__detail {
  width: 100%;
  padding-top: 5px;
  margin-top: 20px;
  font-size: 12px;
  color: rgb(87, 87, 87);
  text-align: right;
  border-top: 1px solid rgb(165, 165, 165);
}

.body .simple__a:link {
  color: rgb(39, 39, 39);
  text-decoration: none;
}

.body .simple__a:visited {
  color: rgb(39, 39, 39);
  text-decoration: none;
}

.simple__a:hover {
  cursor: pointer;
}

.simple__a:active {
  opacity: 0;
}

.simple {
  display: flex;
  width: 100%;
  position: relative;
  text-decoration: none;
}

.simple__content {
  width: 50%;
}

.simple__badge {
  display: flex;
  font-size: 12px;
  margin-top: 4px;
}

.simple__pro {
  position: absolute;
  background-color: #0123b4;
  font-size: 16px;
  color: white;
  padding: 6px 12px;
  top: 0px;
  left: 0px;
}

.simple__study {
  border-radius: 10px;
  color: white;
  padding: 4px 8px;
  padding-top: 6px;
  background-color: #b4a201;
  margin: 4px 0;
  margin-left: 10px;
}

.simple__motive {
  border-radius: 10px;
  color: white;
  padding: 4px 8px;
  padding-top: 6px;
  /* background-color: #0190b4; */
  background-color: #b42501;
  font-size: 16px;
  margin: 4px 0;
  margin-left: 80px;
}

.simple__consult {
  border-radius: 10px;
  background-color: #b42501;
  color: white;
  padding: 4px 8px;
  padding-top: 6px;
  margin: 4px 0;
  margin-left: 10px;
}

.content__column {
  font-size: 12px;
  margin: 10px 15px;
  color: rgb(87, 87, 87);
  line-height: 16px;
}

.content__column i {
  color: rgb(87, 87, 87);
  margin-right: 5px;
}

.content__column:nth-child(1) {
  margin-top: 16px;
  font-weight: 700;
  color: black;
  font-size: 18px;
  text-align: justify;
  line-height: 20px;
}
