.list__title {
  color: #0123b4;
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0;
}

.rec__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.simple__img {
  width: 50%;
  height: 230px;
}

.body a {
  width: 90%;
  margin-bottom: 30px;
  text-decoration: none;
  color: rgb(39, 39, 39);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.body a:visited {
  color: rgb(39, 39, 39);
}

.simple {
  display: flex;
  width: 100%;
  position: relative;
}

.simple__content {
  width: 50%;
}

.simple__badge {
  display: flex;
  font-size: 12px;
  margin-top: 4px;
}

.simple__pro {
  position: absolute;
  background-color: #0123b4;
  font-size: 16px;
  color: white;
  padding: 6px 12px;
  top: 0px;
  left: 0px;
}

.simple__study {
  border-radius: 10px;
  color: white;
  padding: 4px 8px;
  padding-top: 6px;
  background-color: #b4a201;
  margin: 4px 0;
  margin-left: 10px;
}

.simple__motive {
  border-radius: 10px;
  color: white;
  padding: 4px 8px;
  padding-top: 6px;
  background-color: #0190b4;
  margin: 4px 0;
  margin-left: 10px;
}

.simple__consult {
  border-radius: 10px;
  background-color: #b42501;
  color: white;
  padding: 4px 8px;
  padding-top: 6px;
  margin: 4px 0;
  margin-left: 10px;
}

.content__column {
  font-size: 12px;
  margin: 10px 15px;
  color: rgb(87, 87, 87);
  line-height: 16px;
}

.content__column i {
  color: rgb(87, 87, 87);
  margin-right: 5px;
}

.content__column:nth-child(3) {
  font-weight: 700;
  color: black;
  font-size: 16px;
}

.content__column__detail {
  font-size: 12px;
  color: rgb(87, 87, 87);
  position: absolute;
  right: 10px;
  bottom: 10px;
}
