@import "reset.css";
@import "mentor.css";
@import "result.css";
@import "home.css";
@import "onboarding.css";
@import "submit.css";
@import "passbook.css";
@import "thankyou.css";
@import "select.css";
@import "proposal.css";
@import "mentorsimple.css";
@import "https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css";

* {
  box-sizing: border-box;
}

.header {
  font-size: 24px;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  z-index: 99;
  padding: 0 20px;
}

.semi__logo {
  font-size: 16px;
}

.header__back {
  color: #0123b4;
  text-decoration: none;
}

.transparent {
  color: white;
  text-decoration: none;
}

.header__toring {
  color: #0123b4;
  text-decoration: none;
}

.header a:link {
  text-decoration: none;
}

.header a:visited {
  text-decoration: none;
  color: #0123b4;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  font-family: "Gilroy", sans-serif;
}

.body,
.body__onboarding {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f7f7f7;
}

/* 모바일 */
@media screen and (min-width: 500px) {
  .body,
  .body__onboarding {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    border-right: 0.3px solid rgba(107, 107, 107, 0.2);
    border-left: 0.3px solid rgba(107, 107, 107, 0.2);
  }

  .buy {
    width: 500px;
  }

  .header {
    width: 500px;
  }

  .snackbar__result {
    width: 500px;
  }

  .black__loading {
    width: 500px;
  }
  .num__copy {
    background-color: transparent;
    border: 1px solid white;
    padding: 6px 12px 0px 12px;
    color: white;
    font-size: 14px;
  }
}

.bold {
  font-weight: 700;
}

.blue__bold {
  color: #4055af;
  font-weight: 700;
}

.under {
  text-decoration: underline;
}

.orange__underline {
  text-decoration: none;
  border-bottom: 3px solid rgba(245, 78, 0, 0.7);
  padding-bottom: 0px;
}

input[type="submit"] {
  -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* 
input:required {
  background-color: yellow;
}

textarea:required {
  background-color: yellow;
} */

.dschool__event {
  position: absolute;
  right: 20px;
  top: 20px;
  font-weight: 700;
}

.dschool__red {
  color: #cf0020;
  font-size: 20px;
}

.event {
  color: white;
  text-shadow: 0 0 10px #0123b4, 0 0 15px #0123b4, 0 0 30px #0123b4;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #0123b4;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0123b4 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.none {
  display: none;
  transform: translateY(100px);
}

.fadeout {
  opacity: 0.1;
  transition: all 0.3s;
}

.body {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.trans {
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.trans2 {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.fadeIn {
  opacity: 1;
  transition: all 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*  */

.none {
  display: none;
  transform: translateY(100px);
}

.fadeout {
  opacity: 0.1;
  transition: all 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.body {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.trans {
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.trans2 {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.fadeIn {
  opacity: 1;
  transition: all 0.3s;
}

.inline {
  display: inline;
}

.bar__column {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bar {
  width: 100%;
  height: 50px;
}

.bar__value {
  align-self: flex-end;
}

#myProgress {
  border-radius: 20px;
  margin: 20px 0;
  width: 80%;
  background-color: rgb(196, 196, 196);
}

.test__title {
  width: 80%;
  margin-top: 30px;
  border-bottom: 1px solid rgb(94, 94, 94);
  padding-bottom: 20px;
}

.test__title .main {
  color: #0123b4;
  font-size: 18px;
}

.test__title .sub {
  margin-top: 12px;

  font-weight: 700;
  font-size: 22px;
}

.test__title .detail {
  margin-top: 12px;
  line-height: 24px;
  font-size: 16px;
  color: rgb(94, 94, 94);
  text-align: justify;
}

#myBar {
  width: 0%;
  height: 25px;
  font-size: 12px;
  font-weight: 700;
  background-color: #4055af;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button1,
.button2,
.button3 {
  width: 100%;
  height: 50px;
  border: 1px solid rgb(156, 156, 156);
  background-color: transparent;
  border-radius: 10px;
  margin: 5px 0;
  outline: none;
  font-size: 14px;
}

.button1:active,
.button2:active,
.button3:active {
  opacity: 0.3;
}

.selected {
  color: #4055af;
  border: 1px solid #4055af;
}

.button1:hover,
.button2:hover,
.button3:hover {
  cursor: pointer;
}

.first,
.second__one,
.third {
  width: 80%;
  margin-bottom: 120px;
}

.first__title,
.second__title,
.third__title {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 22px;
}

.result__comment {
  margin-bottom: 10px;
  margin-left: 4px;
  color: rgb(49, 49, 49);
  font-weight: 700;
}

.loading-background {
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading {
  display: flex;
  align-items: center;
}

#find {
  margin-top: 16px;
  color: rgb(44, 44, 44);
}

@keyframes findAnim {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: none;
  }
}

.bar {
  background-color: #4055af;
  height: 50px;
  width: 15px;
  margin: 0 5px;
}

.bar:nth-child(1) {
  animation: loading1 1s infinite;
}
.bar:nth-child(2) {
  animation: loading1 1s infinite 0.1s;
}
.bar:nth-child(3) {
  animation: loading1 1s infinite 0.2s;
}
.bar:nth-child(4) {
  animation: loading1 1s infinite 0.3s;
}
.bar:nth-child(5) {
  animation: loading1 1s infinite 0.4s;
}

@keyframes loading1 {
  0% {
  }
  20% {
    height: 100px;
  }
  50% {
    height: 50px;
  }
  100% {
  }
}

.rotate-background {
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle {
  background-color: #4055af;
  opacity: 0.7;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px;
}

.circle:nth-child(2) {
  opacity: 1;
}

@keyframes rotate {
  0% {
    /* background-color: black; */
    transform: rotate(-180deg);
  }
  50% {
    transform: none;
  }
  100% {
  }
}

.rotate {
  display: flex;
  animation: rotate 1s ease-in-out infinite;
}
