@import "reset.css";
@import "mentor.css";
@import "test.css";
@import "result.css";
@import "home.css";
@import "onboarding.css";
@import "submit.css";
@import "passbook.css";
@import "thankyou.css";
@import "proposal.css";
@import "https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css";

* {
  box-sizing: border-box;
}

.header {
  font-size: 24px;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  z-index: 99;
  padding: 0 20px;
}

.semi__logo {
  font-size: 16px;
}

.header__back {
  color: #0123b4;
  text-decoration: none;
}

.transparent {
  color: white;
  text-decoration: none;
}

.header__toring {
  color: #0123b4;
  text-decoration: none;
}

.header a:link {
  text-decoration: none;
}

.header a:visited {
  text-decoration: none;
  color: #0123b4;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  font-family: "Gilroy", sans-serif;
}

.body,
.body__onboarding {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f7f7f7;
}

/* 모바일 */
@media screen and (min-width: 500px) {
  .body,
  .body__onboarding {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    border-right: 0.3px solid rgba(107, 107, 107, 0.2);
    border-left: 0.3px solid rgba(107, 107, 107, 0.2);
  }

  .buy {
    width: 500px;
  }

  .header {
    width: 500px;
  }

  .snackbar__result {
    width: 500px;
  }

  .black__loading {
    width: 500px;
  }
  .num__copy {
    background-color: transparent;
    border: 1px solid white;
    padding: 6px 12px 0px 12px;
    color: white;
    font-size: 14px;
  }
}

.bold {
  font-weight: 700;
}

.blue__bold {
  color: #4055af;
  font-weight: 700;
}

.under {
  text-decoration: underline;
}

.orange__underline {
  text-decoration: none;
  border-bottom: 3px solid rgba(245, 78, 0, 0.7);
  padding-bottom: 0px;
}

input[type="submit"] {
  -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* 
input:required {
  background-color: yellow;
}

textarea:required {
  background-color: yellow;
} */

.dschool__event {
  position: absolute;
  right: 20px;
  top: 20px;
  font-weight: 700;
}

.dschool__red {
  color: #cf0020;
  font-size: 20px;
}

.event {
  color: white;
  text-shadow: 0 0 10px #0123b4, 0 0 15px #0123b4, 0 0 30px #0123b4;
}
