@import "reset.css";
@import "mentor.css";
@import "test.css";
@import "simple.css";

* {
  box-sizing: border-box;
}

.header {
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  height: 60px;
  background-color: white;
  color: #0123b4;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 0.5px solid gray;
}

.header a {
  text-decoration: none;
  color: #0123b4;
}

.header a:link {
  text-decoration: none;
  color: #0123b4;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 247, 247);
}

.body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* 모바일 */
@media screen and (min-width: 500px) {
  .body {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
