.submitForm {
  margin-top: 20px;
  width: 90%;
}

.gform {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.passbook__title {
  font-size: 24px;
  color: #2a2a2a;
}

.passbook {
  margin-top: 20px;
  padding: 20px 20px;
  border-radius: 10px;
  background-color: #3b52b6;
  margin-bottom: 20px;
}

.passbook__num__title,
.info__bank__title,
.info__name__title {
  font-size: 14px;
  color: #cccccc;
  margin-bottom: 10px;
}

.passbook__num__content {
  display: flex;
  align-self: center;
  justify-content: space-between;
  font-size: 20px;
}

.snackbar {
  font-size: 20px;
  position: fixed;
  background-color: rgb(0, 136, 79);
  width: 100%;
  padding: 30px 0;
  top: 0;
  text-align: center;
  color: white;
  z-index: 199;
  opacity: 0;
  transition: 1s all;
  transform: translateY(-100px);
}

.snackbar__anim {
  transform: translateY(0);
  opacity: 1;
}

.info__bank__content,
.info__name__content {
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.num__copy {
  background-color: transparent;
  border: 1px solid white;
  padding: 6px 12px;
  padding-top: 9px;
  color: white;
  font-size: 14px;
}

.num__copy:hover {
  cursor: pointer;
}

.num__copy:active {
  opacity: 0;
}

.passbook__column:nth-child(1) {
  width: 100%;
  padding-bottom: 20px;
}
.passbook__column:nth-child(2) {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
}
.passbook__column:nth-child(2) {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
}

.passbook__info {
  width: 50%;
}

.passbook__column:nth-child(3) {
  padding-top: 20px;
  border-top: 1px solid white;
  display: flex;
  width: 100%;
}

.passbook__column:nth-child(4) {
  padding-top: 20px;
  display: flex;
  width: 100%;
}

.passbook__price {
  width: 50%;
}

.info__price__content {
  color: #fec645;
  font-size: 20px;
  font-weight: 700;
  margin-top: 14px;
}

.passbook__mentor {
  border: none;
  outline: none;
  background-color: transparent;
  color: #fec645;
  font-weight: 700;
  font-size: 20px;
}

.num__content {
  width: 70%;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.user__name__title {
  font-size: 20px;
  color: #2a2a2a;
  margin-bottom: 5px;
}

.user__name__des {
  margin-left: 5px;
  font-size: 14px;
  color: #999999;
}

.user__name,
.user__tel {
  border: none;
  border-bottom: 2px solid #fec645;
  border-radius: 0;
  opacity: 1;
  font-size: 16px;
  width: 95%;
  color: #fec645;
  background-color: transparent;
  padding-bottom: 10px;
  outline: none;
  animation: inputAnim 2s infinite;
}

@keyframes inputAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.user__name::placeholder {
  color: #fec645;
  opacity: 1;
  font-size: 16px;
}
.user__tel::placeholder {
  color: #fec645;
  opacity: 1;
  font-size: 16px;
}

.passbook__submit {
  font-size: 20px;
  background-color: #0123b4;
  border: 1px solid #0123b4;
  color: white;
  border-radius: 16px;
  padding: 10px 20px;
  margin-bottom: 40px;
  outline: none;
}

.passbook__submit:hover {
  cursor: pointer;
}

@keyframes submitAni {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.warning {
  margin-top: 10px;
  margin-bottom: 20px;
}

.warning__title {
  font-size: 18px;
  font-weight: 700;
}

.warning__text {
  font-size: 16px;
  color: #494949;
  margin: 10px 0;
  margin-left: 10px;
}

.warning__text__add {
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.guide__m {
  text-align: center;
  font-size: 16px;
  width: 100%;
  line-height: 24px;
}

.black__loading {
  line-height: 30px;
  z-index: 111;
  position: fixed;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10000px 0;
  transition: 1s all;
}
