.submitForm {
  margin-top: 40px;
  width: 90%;
}

.gform {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.submit__title {
  font-size: 24px;
  color: #2a2a2a;
}

.submit {
  margin-top: 20px;
  width: 100%;
  padding: 0px 10px;
  border-radius: 10px;
  background-color: transparent;
}

.submit__num__title,
.submit__bank__title,
.submit__name__title {
  font-size: 14px;
  color: #6b6b6b;
  margin-bottom: 10px;
}

.submit__num__content {
  display: flex;
  align-self: center;
  justify-content: space-between;
  font-size: 20px;
}

.info__bank__content,
.info__name__content {
  color: white;
  font-size: 20px;
}

.submit__column {
  width: 100%;
  padding-bottom: 20px;
  text-align: justify;
}

.submit__upper {
  display: flex;
  align-items: flex-start;
}

.submit__upper__column .submit__column {
  width: 90%;
}

.submit__upper2 {
  align-items: flex-start;
  border-bottom: 2px solid #202020;
  margin-bottom: 20px;
}

.submit__upper .submit__image {
  width: 30%;
}

.submit__text {
  margin-bottom: 20px;
  font-size: 16px;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  line-height: 27px;
  background-color: #d6deff;
  border-radius: 30px 5px 5px 5px;
  color: #494949;
}

.submit__mentor__img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 20px;
}

.submit__mentor {
  border: none;
  outline: none;
  background-color: transparent;
  color: #202020;
  font-weight: 700;
  font-size: 20px;
}

.submit__class {
  border: none;
  outline: none;
  background-color: transparent;
  color: #202020;

  font-weight: 700;
  font-size: 20px;
  width: 100%;
  line-height: 28px;
}

.user__name__title {
  font-size: 20px;
  color: #2a2a2a;
  margin-bottom: 5px;
}

.user__name__des {
  margin-left: 5px;
  font-size: 14px;
  color: #999999;
}

.submit__name,
.submit__tel,
.submit__content,
.submit__student {
  border: none;
  border: 1px solid #0123b4;
  padding: 10px;
  opacity: 1;
  font-size: 16px;
  width: 100%;
  color: #0123b4;
  background-color: transparent;
  padding-bottom: 10px;
  outline: none;
  border-radius: 16px;
}

.submit__name::placeholder {
  color: #000000;

  opacity: 0.6;
  font-size: 16px;
}
.submit__tel::placeholder {
  color: #000000;

  opacity: 0.6;
  font-size: 16px;
}
.submit__content::placeholder {
  color: #000000;

  opacity: 0.6;
  font-size: 16px;
}
.submit__student::placeholder {
  color: #000000;
  opacity: 0.6;
  font-size: 16px;
}

.submit__submit {
  font-size: 20px;
  background-color: rgb(102, 102, 102);
  border: none;
  color: white;
  border-radius: 16px;
  padding: 10px 20px;
  width: 95%;
  outline: none;
}

.submit__submit:hover {
  cursor: pointer;
}

.submit__submit:active {
  opacity: 0.5;
}

.submit__button {
  width: 100%;
  text-align: center;
  background-color: red;
  margin-bottom: 200px;
}

.warning {
  padding: 20px 20px;
  width: 100%;
  color: #494949;
  background-color: #ececec;
}

.warning__title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}

.warning__title i {
  margin-right: 5px;
}

.warning__text {
  font-size: 16px;
  color: #494949;
  margin: 10px 0;
  margin-left: 10px;
}

.warning__text__add {
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.guide__m {
  text-align: center;
  font-size: 20px;
  width: 100%;
  line-height: 24px;
  background-color: #00884f;
  color: white;
  padding: 20px 0;
  margin-bottom: 10px;
}

.black__loading {
  line-height: 30px;
  z-index: 111;
  position: fixed;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateY(-200px);
  padding: 10000px 0;
  transition: 0.5s all;
}

.submit__circle {
  background-color: white;
  opacity: 0.7;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px;
}

.submit__circle:nth-child(1) {
  animation: loading 1s infinite;
}
.submit__circle:nth-child(2) {
  animation: loading 1s infinite 0.3s;
}
.submit__circle:nth-child(3) {
  animation: loading 1s infinite 0.6s;
}

@keyframes loading {
  0% {
    /* background-color: black; */
    transform: translateY(-10px);
  }
  33% {
    transform: none;
  }
  100% {
  }
}
.submit__rotate {
  display: flex;
}

.submit__rotate__background {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user__differ {
  padding: 0 10px;
  display: flex;
  align-items: center;
  color: #494949;
  margin-bottom: 20px;
}

.user__differ i {
  padding-bottom: 2px;
  color: red;
  margin-right: 10px;
}

.differ__button {
  text-decoration: underline;
  font-size: 20px;
  color: #0123b4;
  font-weight: 700;
  padding: 0 5px;
}
