.none {
  display: none;
  transform: translateY(100px);
}

.fadeout {
  opacity: 0.1;
  transition: all 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.trans {
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.fadeIn {
  opacity: 1;

  transition: all 0.3s;
}

.inline {
  display: inline;
}

.bar__column {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bar {
  width: 100%;
  height: 50px;
}

.bar__value {
  align-self: flex-end;
}

#myProgress {
  border-radius: 20px;
  margin: 20px 0;
  width: 70%;
  background-color: rgb(196, 196, 196);
}

#myBar {
  width: 33%;
  height: 25px;
  font-size: 12px;
  font-weight: 700;
  background-color: #4055af;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button1,
.button2,
.button3 {
  width: 100%;
  height: 40px;
  border: 1px solid rgb(65, 65, 65);
  border-radius: 10px;
  margin: 5px 0;
  outline: none;
}

.button1:active,
.button2:active,
.button3:active {
  opacity: 0.7;
}
/* 
.selected {
  background-color: #4055af;
  color: white;
  border: none;
} */

.button1:hover,
.button2:hover,
.button3:hover {
  cursor: pointer;
}

.first,
.second__one,
.third {
  width: 70%;
}

.result__link {
  width: 90%;
  margin-bottom: 30px;
  text-decoration: none;
  color: rgb(39, 39, 39);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
