.none {
  display: none;
  transform: translateY(100px);
}

.fadeout {
  opacity: 0.1;
  transition: all 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.body {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.trans {
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.trans2 {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.fadeIn {
  opacity: 1;
  transition: all 0.3s;
}

.inline {
  display: inline;
}

.bar__column {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bar {
  width: 100%;
  height: 50px;
}

.bar__value {
  align-self: flex-end;
}

#myProgress {
  border-radius: 20px;
  margin: 20px 0;
  width: 70%;
  background-color: rgb(196, 196, 196);
}

.test__title {
  width: 70%;
  margin-top: 30px;
  border-bottom: 1px solid rgb(94, 94, 94);
  padding-bottom: 20px;
}

.test__title .main {
  color: #0123b4;
  font-size: 16px;
}

.test__title .sub {
  margin-top: 10px;

  font-weight: 700;
  font-size: 20px;
}

.test__title .detail {
  margin-top: 10px;
  line-height: 20px;
  font-size: 14px;
  color: rgb(94, 94, 94);
}

#myBar {
  width: 33%;
  height: 25px;
  font-size: 12px;
  font-weight: 700;
  background-color: #4055af;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.result__page__wrap {
  width: 80%;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(114, 114, 114);
}

.result__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.one__word {
  font-size: 20px;
  color: rgb(58, 58, 58);
  font-weight: 700;
  margin: 15px 0;
}

.page__word {
  display: flex;
  align-items: center;
  line-height: 20px;
}

.ceo__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

.page__word .ceo {
  margin-bottom: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.page__word span {
  font-size: 14px;
  color: rgb(58, 58, 58);
  text-align: justify;
}

.page__word .bold {
  font-weight: 700;
  color: black;
}

.all {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #0123b4;
  border-radius: 10px;
  outline: none;
}

.all a:link {
  text-decoration: none;
}

.all a span {
  color: #0123b4;
}
.all2 {
  margin-bottom: 40px;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #0123b4;
  border-radius: 10px;
  outline: none;
}

.all2 a:link {
  text-decoration: none;
}

.all2 a span {
  color: #0123b4;
}

.button1,
.button2,
.button3 {
  width: 100%;
  height: 50px;
  border: 1px solid rgb(156, 156, 156);
  background-color: transparent;
  border-radius: 10px;
  margin: 5px 0;
  outline: none;
  font-size: 16px;
}

.button1:active,
.button2:active,
.button3:active {
  opacity: 0.3;
}

.selected {
  color: #4055af;
  border: 1px solid #4055af;
}

.button1:hover,
.button2:hover,
.button3:hover {
  cursor: pointer;
}

.first,
.second__one,
.third {
  width: 70%;
}

.first__title,
.second__title,
.third__title {
  font-size: 14px;
  margin-bottom: 10px;
}

.result1,
.result2,
.result3,
.result4,
.result5,
.result6,
.result7,
.result8,
.result9,
.result10,
.result11,
.result12,
.result {
  width: 90%;
  margin-top: 30px;
  text-decoration: none;
}

.result a .simple {
  width: 100%;
  margin-bottom: 30px;
  text-decoration: none;
  color: rgb(39, 39, 39);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.result1 a .simple {
  width: 100%;
  margin-bottom: 30px;
  text-decoration: none;
  color: rgb(39, 39, 39);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.result2 a .simple {
  width: 100%;
  margin-bottom: 30px;
  text-decoration: none;
  color: rgb(39, 39, 39);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.result3 a .simple {
  width: 100%;
  margin-bottom: 30px;
  text-decoration: none;
  color: rgb(39, 39, 39);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.result4 a .simple {
  width: 100%;
  margin-bottom: 30px;
  text-decoration: none;
  color: rgb(39, 39, 39);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.result5 a .simple {
  width: 100%;
  margin-bottom: 30px;
  text-decoration: none;
  color: rgb(39, 39, 39);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.result6 a .simple {
  width: 100%;
  margin-bottom: 30px;
  text-decoration: none;
  color: rgb(39, 39, 39);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.result7 a .simple {
  width: 100%;
  margin-bottom: 30px;
  text-decoration: none;
  color: rgb(39, 39, 39);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.result8 a .simple {
  width: 100%;
  margin-bottom: 30px;
  text-decoration: none;
  color: rgb(39, 39, 39);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.result9 a .simple {
  width: 100%;
  margin-bottom: 30px;
  text-decoration: none;
  color: rgb(39, 39, 39);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.result10 a .simple {
  width: 100%;
  margin-bottom: 30px;
  text-decoration: none;
  color: rgb(39, 39, 39);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.result11 a .simple {
  width: 100%;
  margin-bottom: 30px;
  text-decoration: none;
  color: rgb(39, 39, 39);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.result12 a .simple {
  width: 100%;
  margin-bottom: 30px;
  text-decoration: none;
  color: rgb(39, 39, 39);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.result__comment {
  margin-bottom: 10px;
  margin-left: 10px;
  color: rgb(49, 49, 49);
  font-weight: 700;
}

.loading-background {
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading {
  display: flex;
  align-items: center;
}

.bar {
  background-color: #4055af;
  height: 50px;
  width: 15px;
  margin: 0 5px;
}

.bar:nth-child(1) {
  animation: loading1 1s infinite;
}
.bar:nth-child(2) {
  animation: loading1 1s infinite 0.1s;
}
.bar:nth-child(3) {
  animation: loading1 1s infinite 0.2s;
}
.bar:nth-child(4) {
  animation: loading1 1s infinite 0.3s;
}
.bar:nth-child(5) {
  animation: loading1 1s infinite 0.4s;
}

@keyframes loading1 {
  0% {
  }
  20% {
    height: 100px;
  }
  50% {
    height: 50px;
  }
  100% {
  }
}

.rotate-background {
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle {
  background-color: #4055af;
  opacity: 0.7;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px;
}

.circle:nth-child(2) {
  opacity: 1;
}

@keyframes rotate {
  0% {
    /* background-color: black; */
    transform: rotate(-180deg);
  }
  50% {
    transform: none;
  }
  100% {
  }
}
.rotate {
  display: flex;
  animation: rotate 1s ease-in-out infinite;
}
